<div class="card card-inverse card-danger">
    <div class="card-block">
        <h2 class="card-title">Error.</h2>
        <h5 class="card-subtitle">Something went wrong. Sorry.</h5>

        <a class="btn btn-secondary m-t-3" asp-controller="Main" asp-action="Index">Back</a>
    </div>
</div>